##############################################################################
# Copyright (c) 2018 AT&T Intellectual Property. All rights reserved.        #
#                                                                            #
# Licensed under the Apache License, Version 2.0 (the "License"); you may    #
# not use this file except in compliance with the License.                   #
#                                                                            #
# You may obtain a copy of the License at                                    #
#       http://www.apache.org/licenses/LICENSE-2.0                           #
#                                                                            #
# Unless required by applicable law or agreed to in writing, software        #
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT  #
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.           #
# See the License for the specific language governing permissions and        #
# limitations under the License.                                             #
##############################################################################

# Add proxy settings if required for your environment
# export http_proxy=http://your.proxy.com:8080/
# export https_proxy=http://your.proxy.com:8080/
#

# host name for server
SRV_NAME={{yaml.genesis.name}}

# server oem - Dell or HPE (case sensitive)
SRV_OEM={{yaml.genesis.oem}}

# out of band interface information for server (idrac/ilo/etc)
SRV_OOB_IP={{yaml.genesis.oob}}
SRV_OOB_USR={{yaml.ipmi_admin.username}}
SRV_OOB_PWD={{yaml.ipmi_admin.password}}

# mac address of server to be used during the build - not required for Dell servers
{% if 'genesis.mac_address' in yaml %}
SRV_MAC={{yaml.genesis.mac_address}}
{% endif %}

# name of network interface used during build when ipxe.efi is booted and when os is booted
# ipxe numbers ports from 0-n in pci bus order.
# the netx value will depend on how many nics are in the server
# and which pci device number is assigned to the slot
SRV_IPXE_INF={{yaml.networks.pxe.inf}}

# the build interface is the nic used by the Ubuntu installed to load the OS
SRV_BLD_INF={{yaml.networks.slaves[0].name}}

# the boot device is the device name on which the OS will be loaded
SRV_BOOT_DEVICE={{yaml.disks[0].name}}
SRV_CEPH_DEVICE={{yaml.disks[1].name}}

# ipxe script to use - based on the os version and kernel to install
# valid options are script-hwe-16.04.4-amd64.ipxe or script-16.04.4-amd64.ipxe
SRV_BLD_SCRIPT=script-hwe-16.04.5-amd64.ipxe

# template xml file to set bios and raid configuration settings
SRV_BIOS_TEMPLATE={{yaml.genesis.bios_template}}
SRV_BOOT_TEMPLATE={{yaml.genesis.boot_template}}
SRV_HTTP_BOOT_DEV={{yaml.genesis.http_boot_device}}

# tempalte to run to configure OS after first boot
# current options are: firstboot.sh.template, firstboot-genesis.sh.tempate or firstboot-airship-iab.sh.template
SRV_FIRSTBOOT_TEMPLATE=firstboot-genesis.sh.template

# VLAN to use during build and for final network configuration
SRV_VLAN={{yaml.networks.host.vlan}}
SRV_STORAGE_VLAN={{yaml.networks.storage.vlan}}
SRV_CALICO_VLAN={{yaml.networks.ksn.vlan}}
SRV_NEUTRON_VLAN={{yaml.networks.neutron.vlan}}
SRV_PXE_INF={{yaml.networks.pxe.interface}}

# basic network information for dhcp config and final server network settings
SRV_MTU=9000
SRV_IP={{yaml.genesis.host}}
SRV_STORAGE_IP={{yaml.genesis.storage}}
SRV_CALICO_IP={{yaml.genesis.ksn}}
SRV_NEUTRON_IP={{yaml.genesis.neutron}}
SRV_PXE_IP={{yaml.genesis.pxe}}
SRV_SUBNET={{yaml.networks.host.subnet}}
SRV_NETMASK={{yaml.networks.host.netmask}}
SRV_GATEWAY={{yaml.networks.host.routes.gateway}}
SRV_DNS="{{yaml.networks.host.dns.servers}}"
SRV_DOMAIN={{yaml.networks.host.dns.domain}}
SRV_DNSSEARCH={{yaml.networks.host.dns.domain}}
SRV_NTP=ntp.ubuntu.org

# root password for server being built
SRV_PWD={{yaml.genesis.root_password}}

# network bond information
SRV_BOND={{yaml.networks.primary}}
{% for slave in yaml.networks.slaves %}
SRV_SLAVE{{loop.index}}={{slave.name}}
{% endfor %}
