---
##############################################################################
# Copyright (c) 2018 AT&T Intellectual Property. All rights reserved.        #
#                                                                            #
# Licensed under the Apache License, Version 2.0 (the "License"); you may    #
# not use this file except in compliance with the License.                   #
#                                                                            #
# You may obtain a copy of the License at                                    #
#       http://www.apache.org/licenses/LICENSE-2.0                           #
#                                                                            #
# Unless required by applicable law or agreed to in writing, software        #
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT  #
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.           #
# See the License for the specific language governing permissions and        #
# limitations under the License.                                             #
##############################################################################

schema: 'drydock/HardwareProfile/v1'
metadata:
  schema: 'metadata/Document/v1'
  name: DELL_HP_Generic_Akraino
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: DELL_HP_Generic
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  vendor: {{yaml.hardware.vendor}}
  generation: '{{yaml.hardware.generation}}'
  hw_version: '{{yaml.hardware.hw_version}}'
  bios_version: '{{yaml.hardware.bios_version}}'
  boot_mode: bios
  bootstrap_protocol: pxe
  pxe_interface: 0
  device_aliases: {}
...
