---
schema: pegleg/SoftwareVersions/v1
metadata:
  schema: metadata/Document/v1
  replacement: true
  name: software-versions
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: software-versions-global
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  charts:
    osh:
      neutron:
        location: https://opendev.org/openstack/openstack-helm
        reference: 05bff26162cc05286ba563d6e8cec82a36031b7d
        subpath: neutron
        type: git
      neutron-htk:
        location: https://opendev.org/openstack/openstack-helm-infra
        reference: d0b32ed88ad652d9c2226466a13bac8b28038399
        subpath: helm-toolkit
        type: git
      nova:
        location: https://opendev.org/openstack/openstack-helm
        reference: d2abe39d498f48c4721e26aca19e81189bc8891b
        subpath: nova
        type: git
      nova-htk:
        location: https://opendev.org/openstack/openstack-helm-infra
        reference: d0b32ed88ad652d9c2226466a13bac8b28038399
        subpath: helm-toolkit
        type: git
      openvswitch:
        location: https://opendev.org/openstack/openstack-helm-infra
        reference: refs/changes/18/688818/2
        subpath: openvswitch
        type: git
      openvswitch-htk:
        location: https://opendev.org/openstack/openstack-helm-infra
        reference: d0b32ed88ad652d9c2226466a13bac8b28038399
        subpath: helm-toolkit
        type: git
  images_refs:
    images:
      dep_check: &dep_check quay.io/stackanetes/kubernetes-entrypoint:v0.3.1
      heat: &heat docker.io/openstackhelm/heat:rocky-ubuntu_bionic
      neutron: &neutron docker.io/openstackhelm/neutron:rocky-ubuntu_bionic
      horizon: &horizon docker.io/openstackhelm/horizon:rocky-ubuntu_bionic
      cinder: &cinder docker.io/openstackhelm/cinder:rocky-ubuntu_bionic
      keystone: &keystone docker.io/openstackhelm/keystone:rocky-ubuntu_bionic
      nova: &nova docker.io/openstackhelm/nova:rocky-ubuntu_bionic
      glance: &glance docker.io/openstackhelm/glance:rocky-ubuntu_bionic
      openvswitch: &openvswitch docker.io/openstackhelm/openvswitch:latest-ubuntu_bionic-dpdk
      os_barbican: &os_barbican docker.io/openstackhelm/barbican:rocky-ubuntu_bionic
      libvirt: &libvirt docker.io/openstackhelm/libvirt:latest-ubuntu_bionic
  images:
    osh:
      openvswitch:
        openvswitch_db_server: "docker.io/openstackhelm/openvswitch:latest-ubuntu_bionic-dpdk"
        openvswitch_vswitchd: "docker.io/openstackhelm/openvswitch:latest-ubuntu_bionic-dpdk"
      neutron:
        bootstrap: *heat
        db_init: *heat
        neutron_db_sync: *neutron
        db_drop: *heat
        ks_user: *heat
        ks_service: *heat
        ks_endpoints: *heat
        neutron_server: *neutron
        neutron_dhcp: *neutron
        neutron_metadata: *neutron
        neutron_l3: *neutron
        neutron_l2gw: *neutron
        neutron_openvswitch_agent: *neutron
        neutron_linuxbridge_agent: *neutron
        neutron_bagpipe_bgp: *neutron
      nova:
        bootstrap: *heat
        db_drop: *heat
        db_init: *heat
        ks_user: *heat
        ks_service: *heat
        ks_endpoints: *heat
        nova_api: *nova
        nova_cell_setup: *nova
        nova_cell_setup_init: *heat
        nova_compute: *nova
        nova_compute_ssh: *nova
        nova_conductor: *nova
        nova_consoleauth: *nova
        nova_db_sync: *nova
        nova_novncproxy: *nova
        nova_novncproxy_assets: *nova
        nova_placement: *nova
        nova_scheduler: *nova
        nova_spiceproxy: *nova
        nova_spiceproxy_assets: *nova
        nova_service_cleaner: "docker.io/openstackhelm/ceph-config-helper:latest-ubuntu_xenial"
      openvswitch:
        openvswitch_db_server: *openvswitch
        openvswitch_vswitchd: *openvswitch
...
