##############################################################################
# Copyright (c) 2018 AT&T Intellectual Property. All rights reserved.        #
#                                                                            #
# Licensed under the Apache License, Version 2.0 (the "License"); you may    #
# not use this file except in compliance with the License.                   #
#                                                                            #
# You may obtain a copy of the License at                                    #
#       http://www.apache.org/licenses/LICENSE-2.0                           #
#                                                                            #
# Unless required by applicable law or agreed to in writing, software        #
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT  #
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.           #
# See the License for the specific language governing permissions and        #
# limitations under the License.                                             #
##############################################################################

schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  replacement: true
  name: kubernetes-calico
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: kubernetes-calico-global
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  values:
    networking:
      settings:
{% if ('peers' in yaml.networks.ksn and yaml.networks.ksn.peers is not none and yaml.networks.ksn.peers is iterable ) %}
        mesh: "off"
{% else %}
        mesh: "on"
{% endif %}
        ippool:
          ipip:
            enabled: "false"
            mode: "cross-subnet"
      bgp:
        asnumber: {{yaml.networks.ksn.local_asnumber}}
        ipv4:
          additional_cidrs:
{% for add_cidr in yaml.networks.ksn.additional_cidrs %}
            - {{add_cidr}}
{% endfor %}
{% if ('peers' in yaml.networks.ksn and yaml.networks.ksn.peers is not none and yaml.networks.ksn.peers is iterable ) %}
          peers:
{% for peer in yaml.networks.ksn.peers %}
            - apiVersion: v1
              kind: bgpPeer
              metadata:
                peerIP: {{peer.ip}}
                scope: {{peer.scope}}
              spec:
                asnumber: {{peer.asnumber}}
{% endfor %}
{% endif %}
...

