---
##############################################################################
# Copyright (c) 2018 AT&T Intellectual Property. All rights reserved.        #
#                                                                            #
# Licensed under the Apache License, Version 2.0 (the "License"); you may    #
# not use this file except in compliance with the License.                   #
#                                                                            #
# You may obtain a copy of the License at                                    #
#       http://www.apache.org/licenses/LICENSE-2.0                           #
#                                                                            #
# Unless required by applicable law or agreed to in writing, software        #
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT  #
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.           #
# See the License for the specific language governing permissions and        #
# limitations under the License.                                             #
##############################################################################

schema: armada/Chart/v1
metadata:
  schema: metadata/Document/v1
  name: nova
  labels:
    component: nova
  layeringDefinition:
    abstract: false
    layer: site
    parentSelector:
      name: nova-global
    actions:
      - method: merge
        path: .
  storagePolicy: cleartext
data:
  values:
    network:
      backend:
        - openvswitch
        - sriov
    conf:
      nova:
        filter_scheduler:
          enabled_filters: "RetryFilter, AvailabilityZoneFilter, RamFilter, ComputeFilter, ComputeCapabilitiesFilter, ImagePropertiesFilter, ServerGroupAntiAffinityFilter, ServerGroupAffinityFilter, PciPassthroughFilter, NUMATopologyFilter, DifferentHostFilter, SameHostFilter"
        libvirt:
          virt_type: kvm
        DEFAULT:
          vcpu_pin_set: "4-21,26-43,48-65,72-87"
          vif_plugging_is_fatal: False
          vif_plugging_timeout: 30
        pci:
#          alias: '{ "vendor_id":"10de", "product_id":"1db4", "name":"V100", "device_type":"type-PCI" }'
#          passthrough_whitelist: '{"vendor_id": "10de", "product_id": "1db4"}'
          alias: '{"name": "numa0", "capability_type": "pci", "product_id": "158b", "vendor_id": "8086", "device_type": "type-PCI", "numa_policy": "required"}`'
{% for sriovnet in yaml.sriovnets %}
          passthrough_whitelist: |
            [{% for vf in sriovnet.whitelists -%}{"address":"{{vf["address"]}}","physical_network":"{{sriovnet.physical}}"}{% if loop.index < sriovnet.whitelists|length %},{% endif %}{% endfor %}]
{% endfor %}
....
